/* Variabili per i colori e le dimensioni, messi tutti qui per avere rapido accesso alle dimensioni più comuni e a tutti i colori */
:root {
	--main-color: #222;
	--bg-color: #f9f9f9;
	--alt-color: #fff;
	--border-color: #ddd;
	--button-color: #FF5722;
	--button-attività-color: #00BCD4;
	--button-hover-color: #E64A19;
	--invalid-color: #D32F2F;
	--form-bg-color: #f5f5f5;
	--footer-color: #777;
	--footer-bg-color: #f9f9f9;
	--h1-size: 2.2rem;
	--h2-size: 1.8rem;
	--h3-size: 1.4rem;
	--label-size: 1.15rem;
	--common-padding: 1.5rem;
	--common-margin: 1.5rem;
	--common-border: 0.1rem solid var(--border-color);
	--common-font-size: 1.1rem;
	--input-padding: 1.2rem;
	--input-border: 0.15rem solid var(--border-color);
	--input-border-radius: 0.35rem;
	--input-margin-bottom: 2.5rem;
}


/* Reset CSS per aggirare le differenze fra browser */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; 
	padding: 0; 
	border: 0; 
	font-size: 100%; 
	vertical-align: baseline;
}

/* Stile per tutte le pagine */
body {
    background-color: var(--bg-color);
    color: var(--main-color);
    font-size: var(--common-font-size);
}

.container {
    width: 50rem;
    margin: 0 auto;
}

h2{
	font-size: var(--h2-size);
}

h3{
	font-size: var(--h3-size);
}

h2, h3 {
    margin-bottom: var(--common-padding);
}

h1 {
    font-size: var(--h1-size);
    margin-left: 6.25rem;
    line-height: 5rem;
}

table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid var(--common-border);
	margin-bottom: var(--common-padding);
	background-color: var(--alt-color);
}

table th,
table td {
	padding: var(--common-padding);
	border: var(--common-border);
}

table th {
	font-weight: bold;
	text-align: left;
	background-color: var(--main-color);
	color: var(--alt-color);
}

table tr:nth-child(even) {
	background-color: var(--bg-color);
}

table tr:hover {
	background-color: var(--form-bg-color);
}

/* Stile per l'header */
header {
    background-color: var(--alt-color);
    padding: var(--common-padding);
    border-bottom: var(--common-border);
    overflow: auto;
}

.logo {
    float: left;
}

.logo img{
    width: 5rem;
    height: 5rem;
}


.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	align-items: center;
	background-color: var(--main-color);
	color: var(--alt-color);
	padding: 0.625rem;
	list-style-type: none;
}

.menu a, .button a {
	color: var(--alt-color);
	text-decoration: none;
	margin: 0 0.625rem;
	font-size: 1.125rem;
}

.menu a:hover, .button a:hover {
	cursor: hand;
	text-decoration: underline;
}

.content {
    background-color: var(--alt-color);
    padding: var(--common-padding);
    margin-top: var(--common-padding);
}

.attivitaProfilo {
	display: inline-block;
	align-items: center;
	margin: 1rem;
	padding: 1rem;
	background-color: var(--bg-color);
	border: 1px solid var(--border-color);
	border-radius: 5px;
	text-align: center;
	color: var(--main-color);
	width: 100px;
	height: 100px;
}

p {
    line-height: 1.5;
    margin-bottom: var(--common-padding);
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: var(--common-padding);
}

/* Stile per il crea volantino */
.button {
    background-color: var(--main-color);
    padding: 0.625rem var(--common-padding);
    display: inline-block;
}

.button a:hover {
	cursor: pointer;
    opacity: 0.8;
}



/* Stile per attivita */
.attivita {
	display: inline-block;
	margin: var(--common-padding);
}

.attivita h3 {
	margin-top: 0.625rem;
	text-align: center;
}

/* Stile per i form */ 

form {
	margin: 2rem auto;
	width: 80%;
	max-width: 37.5rem;
	background-color: var(--form-bg-color);
	border: 0.125rem solid var(--border-color);
	border-radius: var(--input-border-radius);
	padding: 2rem;
}

input:required:invalid {
	border-color: var(--invalid-color);
}

form label {
	font-size: var(--label-size);
	display: block;
	margin-bottom: 1rem;
	font-weight: bold;
}

form legend {
	display: block;
}

.radio-group label{
	font-size: var(--common-font-size);
	font-weight: normal;
	display: inline;
	margin-right: 10rem;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"],
form input[type="date"],
form input[type="number"],
form textarea,
form fieldset {
	width: 99%;		/* 100% da problemi, cercando su internet non ho capito perché, fra 99% e 101% ho preferito 99 */
	padding: var(--input-padding);
	border: var(--input-border);
	border-radius: var(--input-border-radius);
	margin-bottom: var(--input-margin-bottom);
	box-sizing: border-box; /* soluzione per i problemi che avevo con width ma non funziona con 100% */
}

i {
	margin-left: -1.875rem; 
	cursor: pointer;
}

form select {
	width: 99%;
	padding: 0.625rem;
	border: var(--input-border);
	border-radius: 0.5rem;
	margin-bottom: var(--common-padding);
	background-color: var(--alt-color);
	box-sizing: border-box;
}

form textarea {
	height: 7.5rem;
}

button {
	background-color: var(--button-color);
	border: none;
	color: var(--alt-color);
	padding: 1rem 2rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: var(--common-font-size);
	margin-right: 1rem;
	border-radius: var(--input-border-radius);
	cursor: pointer;
}

button:hover {
	background-color: var(--button-hover-color);
}

/* Stile Footer */
footer {
	background-color: var(--footer-bg-color);
	color: var(--footer-color);	
	padding: var(--common-padding);
	text-align: center;
	font-size: 0.875rem;
}

.footer {
	margin-top: 0.625rem;
	font-weight: bold;
	text-align: center;
}

.cookie-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	transform: translateX(0); /* Aggiunto per evitare conflitto di posizionamento */
	background-color: #fff;
	padding: 10px;
	z-index: 9999;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
	display: none;
}
